easydict==1.9
matplotlib==3.3.2
numpy==1.18.5
opencv-python==4.4.0.44
pandas==1.1.4
Pillow==8.0.1
pyEDFlib==0.1.19
tensorflow==2.3.1
yattag==1.14.0

setuptools~=50.3.1
lxml~=4.6.1
scikit-learn~=0.23.2
progressbar2